.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
}
.item {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
