.newsletter,
.but-NewsLetter {
  text-align: center;
  display: grid;
  place-items: center;
  gap: 1rem;
}
.newsletter {
  margin: 2.5rem;
  padding: 2.5rem;

  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
input[type="email"] {
  border-radius: 22px;
  border-style: double;
  margin: 0rem 2rem;
  height: 2rem;
  width: 100%;
}

@media (max-width: 670px) {
  .newsletter {
    margin: 10%;
    padding: 5%;
  }
}
